@model Bulkybookweb.Models.Category
@{
    ViewData["Title"] = "Edit Category";
}

<div class="card category-card">
    <div class="card-header category-header d-flex justify-content-between align-items-center rounded-top-4">
        <span>
            <i class="bi bi-pencil-square me-2"></i> Edit category
        </span>
    </div>

    <div class="card-body">
        <form asp-action="Edit" method="post" class="category-form">
            <input asp-for="CategoryCode" type="hidden" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter category name" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DisplayOrder" class="form-label"></label>
                <input asp-for="DisplayOrder" type="number" class="form-control" placeholder="Enter display order" required/>
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>

            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn category-btn-back">⬅ Back to List</a>
                </div>
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn category-btn-create">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}