@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Welcome to bulk book web app</h6>
    <p>Hello this is Bulky BOOK handling Web app developed with ASP.NET Core.</p>
    <p>Developed by yared worku full-stack developer in different languages and frameworks with CMS.</p>
</div>
